<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="test"  parallel="methods" thread-count="5">


    <parameter name="name" value="794666918@qq.com"/>
    <parameter name="password" value="123456"/>




    <test name="testdemo" >
        <classes>
            <class name="com.spingboot.spingbootfirst.cases.XDTest" >
                    <methods>
                        <include name="login"/>
                        <include name="productLlist"/>
                    </methods>
            </class>
        </classes>
    </test>

    <listeners>
        <!--这里是监听类的目录不要直接复制-->
        <listener class-name="com.spingboot.spingbootfirst.Utils.ExtentTestNGIReporterListener"/>
    </listeners>
</suite>